
<div class="container main__container">
<section class="main__contacts">
<h2 class="main__title">Contact</h2>

<ul class="main__contacts-list">
    <li class="main__contacts-item">
        <a href="https://goo.gl/maps/jLe3MM9y6xTRfbFk9" target="_blank" class="main__contacts-link">
            <svg class="main__contacts-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-location"></use>
            </svg>
        </a>
        <p class="main__contacts-text">Kharkiv, Ukraine</p>
    </li>
    <li class="main__contacts-item">
        <a href="tel:+380993207408" target="_blank" class="main__contacts-link">
            <svg class="main__contacts-icon" width="20" height="20">
                <use href="./images/icons.svg#icon-telephone"></use>
            </svg>
        </a>
        <p class="main__contacts-text">+380993207408</p>
    </li>
    <li class="main__contacts-item">
        <a href="mailto:velichko.anna.b@gmail.com" target="_blank" class="main__contacts-link">
        <svg class="main__contacts-icon" width="20" height="20">
            <use href="./images/icons.svg#icon-email"></use>
        </svg>     
        </a>
        <p class="main__contacts-text">velichko.anna.b@gmail.com</p>
    </li>
    <li class="main__contacts-item">
<a href="https://github.com/Markab-1" target="_blank" class="main__contacts-link">
    <svg class="main__contacts-icon" width="20" height="20">
        <use href="./images/icons.svg#icon-github"></use>
    </svg>
</a>
  <p class="main__contacts-text">markab-1</p>
    </li>
    <li class="main__contacts-item">
        <a href="https://www.researchgate.net/profile/Anna-Velichko" target="_blank" class="main__contacts-link">
            <svg class="main__contacts-icon" width="20" height="20">
                <use href="./images/icons.svg#researchgate"></use>
            </svg>
        </a>
        <p class="main__contacts-text">Anna Velichko</p>
    </li>
 </ul>

<h2 class="main__title">Hard skills</h2>
<ul class="skills__list">
    <li class="skills__item">
      HTML
    </li>
    <li class="skills__item">
      CSS
    </li>
    <li class="skills__item">
      JavaScript
    </li>
    <li class="skills__item">
      Git
    </li>
    <li class="skills__item">
      NPM
    </li>
    <li class="skills__item">
      Linux
    </li>
</ul>

<h2 class="main__title">Soft skills</h2>
<ul class="skills__list">
    <li class="skills__item">
        Team work
    </li>
    <li class="skills__item">
        Communication
    </li>
    <li class="skills__item">
        Creative
    </li>
    <li class="skills__item">
        Logic thinking
    </li>
    <li class="skills__item">
        Patient
    </li>
    <li class="skills__item">
        Responsibility
    </li>
</ul>

<h2 class="main__title">Languages</h2>
<ul class="lang__list">
    <li class="lang__item">
        <div class="lang__name">Russain</div>
        <p class="lang__text">- native</p>
    </li>
    <li class="lang__item">
        <div class="lang__name">Ukranian</div>
        <p class="lang__text">- fluent</p>
    </li>
    <li class="lang__item">
        <div class="lang__name">English</div>
        <p class="lang__text">- intermediate</p>
    </li>
</ul>

</section>

<section class="main__content">
    
<div id="projects-id">
    <h2 class="main__dots main__title">My projects</h2>
    <ul class="main__list">
        <li class="main__item">
            <p class="main__item-project-text">Project name:</p> <a href="https://markab-1.github.io/goit-markup-hw-08/" target="_blank" class="main__item-project-link"> Web studio </a><br>
            <p class="main__item-project-text">Technologies:</p> <p class="main__item-project-name">HTML, CSS, JS, BEM, SASS </p> <br>
            <p class="main__item-project-text">About project:</p> <p class="main__item-project-name">mobile-first adaptive landing page</p>
        </li>
        <li class="main__item">
            <p class="main__item-project-text">Project name:</p> <a href="https://croixua.github.io/command-project-goit/"
                target="_blank" class="main__item-project-link"> Icecream Shop </a><br>
            <p class="main__item-project-text">Technologies:</p>
            <p class="main__item-project-name">HTML, CSS, JS, BEM, SASS </p> <br>
            <p class="main__item-project-text">About project:</p>
            <p class="main__item-project-name">command project, mobile-first adaptive landing page</p>
        </li>
        <li class="main__item">
            <p class="main__item-project-text">Project name:</p> <a href="https://vitasika.github.io/Filmoteka_project_Team_7/"
                target="_blank" class="main__item-project-link"> Filmoteka </a><br>
            <p class="main__item-project-text">Technologies:</p>
            <p class="main__item-project-name">HTML, CSS, JS, BEM, SASS </p> <br>
            <p class="main__item-project-text">About project:</p>
            <p class="main__item-project-name">command project, mobile-first adaptive landing page with authorization, profile page</p>
        </li>
    </ul>
</div>

    <div id="experience-id">
    <h2 class="main__dots main__title">Work experience</h2>
    <p class="main__experience-text">
        Since 2007 I work at Research institutes of Astronomy as a junior researcher, then as a researcher.
        During this time,  I have implemented many mathematical methods to study various processes occurring 
        in the Milky Way galaxy with the use of programming languages C, Python, as well as Linux command line utilities. 
        The list of my works can be found at my <a href="https://www.researchgate.net/profile/Anna-Velichko" target="_blank" class="text-link">ResearGate</a> profile.
    </p>
    </div>

<div id="education-id">
    <h2 class="main__dots main__title ">Education</h2>
    <ul class="main__list">
        <li class="main__item">
            <h3 class="main__item-title">IT School GoIT</h3>
            <p class="main__item-text">Full-Stack developer</p>
            <p class="main__item-text">September, 2021 - July, 2022</p>
        </li>
        <li class="main__item">
            <h3 class="main__item-title">V. N. Karazin Kharkiv National University, Kharkiv, Ukraine</h3>
            <p class="main__item-text">PhD - Physics and Astronomy</p>
            <p class="main__item-text">October, 2016 - July, 2021</p>
        </li>
    </ul>
</div>

</section>

</div>
