
<div class="container">
<div class="header__top">
    <div class="header__first-box">

    </div>
    <div class="header__second-box">
       <h1 class="title">Anna B. Velichko</h1>
       <h2 class="header__text">Front-end developer</h2>
    </div>

    <button type="button" class="js-open-menu header__menu-button" aria-expanded="false" aria-controls="menu-container">
        <svg width="40px" height="40px" aria-label="Переключатель мобильного меню">
            <use class="header__icon-menu" href="./images/icons.svg#icon-ham"></use>
        </svg>
    </button>
</div>
    <div class="header__info">
     <div class="header__photo">
        <picture>
            <source srcset="./images/Anna_Velichko_320.jpg 1x, ./images/Anna_Velichko_320.jpg 2x" />
            <img src="./images/Anna_Velichko_320.jpg" alt="Anna Velichko" />
        </picture>  
  </div>

  <div class="header__text">
      <h2 class="header__goal">My goal</h2>
   <p class="header__goal-text">I&#39;m looking for interesting job as a front-end developer in a friendly, thriving, and
  exciting company to develop my skills as well as grow up with a team. </p>
  </div>
</div>

</div>
