<div class="js-menu-container mobile-menu__container" id="menu-container">

    <button type="button" class="js-close-menu mobile-menu-cross">
        <svg width="40px" height="40px" aria-label="Переключатель мобильного меню">
            <use class="icon-cross" href="./images/icons.svg#icon-cross"></use>
        </svg>
    </button>
    
    <div class="mobile-menu__content">
    <h2 class="main__title">Contact</h2>

    <ul class="main__contacts-list">
        <li class="main__contacts-item">
            <a href="https://goo.gl/maps/jLe3MM9y6xTRfbFk9" target="_blank" class="main__contacts-link">
                <svg class="main__contacts-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-location"></use>
                </svg>
            </a>
            <p class="main__contacts-text">Kharkiv, Ukraine</p>
        </li>
        <li class="main__contacts-item">
            <a href="tel:+380993207408" target="_blank" class="main__contacts-link">
                <svg class="main__contacts-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-telephone"></use>
                </svg>
            </a>
            <p class="main__contacts-text">+380993207408</p>
        </li>
        <li class="main__contacts-item">
            <a href="mailto:velichko.anna.b@gmail.com" target="_blank" class="main__contacts-link">
                <svg class="main__contacts-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-email"></use>
                </svg>
            </a>
            <p class="main__contacts-text">velichko.anna.b@gmail.com</p>
        </li>
        <li class="main__contacts-item">
            <a href="https://github.com/Markab-1" target="_blank" class="main__contacts-link">
                <svg class="main__contacts-icon" width="20" height="20">
                    <use href="./images/icons.svg#icon-github"></use>
                </svg>
            </a>
            <p class="main__contacts-text">markab-1</p>
        </li>
        <li class="main__contacts-item">
            <a href="https://www.researchgate.net/profile/Anna-Velichko" target="_blank" class="main__contacts-link">
                <svg class="main__contacts-icon" width="20" height="20">
                    <use href="./images/icons.svg#researchgate"></use>
                </svg>
            </a>
            <p class="main__contacts-text">Anna Velichko</p>
        </li>
    </ul>

    
        <h2 class="main__title">Hard skills</h2>
        <ul class="skills__list">
            <li class="skills__item">
                HTML
            </li>
            <li class="skills__item">
                CSS
            </li>
            <li class="skills__item">
                JavaScript
            </li>
            <li class="skills__item">
                Git
            </li>
            <li class="skills__item">
                NPM
            </li>
            <li class="skills__item">
                Linux
            </li>
        </ul>

        <h2 class="main__title">Soft skills</h2>
        <ul class="skills__list">
            <li class="skills__item">
                Team work
            </li>
            <li class="skills__item">
                Communication
            </li>
            <li class="skills__item">
                Creative
            </li>
            <li class="skills__item">
                Logic thinking
            </li>
            <li class="skills__item">
                Patient
            </li>
            <li class="skills__item">
                Responsibility
            </li>
        </ul>

        <h2 class="main__title">Languages</h2>
        <ul class="lang__list">
            <li class="lang__item">
                <div class="lang__name">Russain</div>
                <p class="lang__text">- native</p>
            </li>
            <li class="lang__item">
                <div class="lang__name">Ukranian</div>
                <p class="lang__text">- fluent</p>
            </li>
            <li class="lang__item">
                <div class="lang__name">English</div>
                <p class="lang__text">- intermediate</p>
            </li>
        </ul>
    </div>
</div>
